[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=QtHarmattanTorrent
Exec=/opt/QtHarmattanTorrent/bin/QtHarmattanTorrent
Icon=QtHarmattanTorrent64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
